body, .gap
{
    margin: 0;
    padding: 0;
}

.center, .navbar
{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(26, 26, 26);
    font-size: 25px;
    color: darkgreen;
}

.element
{
    color: green;
    margin: 0;
}

.element:hover
{
    color: lime;
    border: 1px solid;
    background-color: rgb(122, 122, 122);
}

a
{
    text-decoration: none;
    text-align: center;
}

.title
{
    font-size: 20px;
    text-align: center;
}

.grid
{
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
}

.black
{
    background-color: black;
}

.navbar
{
    list-style: none;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
}

.top
{
    padding-top: 2%;
}

.block
{
    display: block;
    text-align: center;
    background-color: rgb(26, 26, 26);
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 18px;
    margin: 0;
}

.bio
{
    text-align: center;
    font-size: 14px;
    color: green;
}

.description
{
    text-align: center;
    color: green;
    font-size: 16px;
}

.green
{
    color: green;
}